@use '../assets/styles/_variables.scss' as vars;

.section-title {
    text-align: center;
    font-size: vars.$font-size-xl;
    margin: vars.$spacing-lg 0;
    color: vars.$color-primary;
}

.scroll-item {
    margin: 0 vars.$spacing-sm;
    min-width: 250px;
}

.attraction-card {
    border: 1px solid vars.$color-light;
    border-radius: vars.$spacing-sm;
    overflow: hidden;
    text-align: center;
    background-color: vars.$color-light;
    transition: box-shadow 0.3s ease;

    &:hover {
    box-shadow: vars.$shadow-medium;
    }
}

.attraction-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.attraction-name {
    font-family: vars.$font-headings;
    font-size: vars.$font-size-lg;
    color: vars.$color-dark;
    margin: vars.$spacing-sm 0;
}

.attraction-description {
    font-family: vars.$font-body;
    font-size: vars.$font-size-sm;
    color: vars.$color-text-muted;
    padding: 0 vars.$spacing-md vars.$spacing-sm;
}
  