@use '../../assets/styles/_variables.scss' as vars;

.map-view {
  height: 100vh; // Full viewport height
  background-color: vars.$color-background;

  .map {
    width: 100%;
    height: 100%; // Ensure the map fills its parent container
    border-radius: vars.$spacing-sm;
    box-shadow: vars.$shadow-light;
  }

  .leaflet-container {
    width: 100%;
    height: 100%; // Leaflet container must fill the map
    border-radius: vars.$spacing-sm;
    z-index: 100; // Ensure this is lower than the Sidebar's z-index
  }

  .leaflet-popup-content {
    font-family: vars.$font-body;
    font-size: vars.$font-size-sm;
    color: vars.$color-dark;
    line-height: 1.5;

    strong {
      font-family: vars.$font-headings;
      color: vars.$color-primary;
      font-size: vars.$font-size-md;
    }

    p {
      margin: vars.$spacing-xs 0;
    }
  }

  .leaflet-popup-tip {
    background: vars.$color-primary;
  }

  .leaflet-marker-icon {
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .leaflet-control-zoom button {
    background-color: vars.$color-light;
    color: vars.$color-dark;
    border: none;
    box-shadow: vars.$shadow-light;
    transition: background-color 0.2s;

    &:hover {
      background-color: vars.$color-secondary;
      color: vars.$color-light;
    }
  }

  .leaflet-control-attribution {
    font-family: vars.$font-body;
    font-size: vars.$font-size-xs;
    color: vars.$color-text-muted;

    a {
      color: vars.$color-primary;

      &:hover {
        color: vars.$color-secondary;
        text-decoration: underline;
      }
    }
  }
}
